<li>
<%= form_tag("/followers", :method => "get") do %>
  <!-- <%= label_tag(:screen_name, "Search for Twitter user and their followers:") %> -->
  <%= text_field_tag(:screen_name, nil, :placeholder => 'Search for followers of..') %>
<% end %>
</li>

<li>
<%= form_tag("/friends", :method => "get") do %>
  <!-- <%= label_tag(:screen_name, "Search for Twitter user and their friends:") %> -->
  <%= text_field_tag(:screen_name, nil, :placeholder => 'Search for friends of..') %>
<% end %>
</li>


<li>
<%= form_tag("/id", :method => "get") do %>
  <!-- <%= label_tag(:id, "Search for Twitter user from their id:") %> -->
  <%= text_field_tag(:id, nil, :placeholder => 'Get Twitter user with id..') %>
<% end %>
</li>